*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-image: url("https://s19.postimg.cc/53hmmyd9f/stars-3000x2000-pink-cosmos-hd-7164.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-family: "Lucida Console";
  height: 100vh;
  overflow: hidden;
  text-align: center;
  min-width: 700px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.tetris-inner{
  display: flex;
  min-width: 600px;
}

.tetris{
  flex-basis: 70%;
  border: 1px #fff solid;
  width: 20%;
  height: auto;
}

.detailsLeft{
  flex-basis: 20%;
  text-align: left;
}


.detailsRight{
  flex-basis: 25%;
  text-align: left;
  padding-left: 15px;

}

.next{
  border: 1px #fff solid;
  width: 80%;
  height: auto;
}

.controls{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 50px;
}

